{% extends "base.html" %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}

<div class="container">

    <h1>Admin Dashboard 👨‍💼</h1>

    <hr>

    <div class="dashboard-cards">

        <div class="card">
            <h3>Total Students</h3>
            <h1>{{ students }}</h1>
        </div>

        <div class="card">
            <h3>Total Faculty</h3>
            <h1>{{ faculty }}</h1>
        </div>

        <div class="card">
            <h3>Total Notes</h3>
            <h1>{{ notes }}</h1>
        </div>

        <div class="card">
            <h3>Announcements</h3>
            <h1>{{ announcements }}</h1>
        </div>

    </div>

    <hr>

    <h3>Management</h3>

    <a href="/admin/students"><button>Manage Students</button></a>

    <h3><i class="fa-solid fa-gears"></i> Management</h3>

    <a href="/admin/students">
        <button><i class="fa-solid fa-user-graduate"></i> Students</button>
    </a>

    <a href="/admin/faculty">
        <button><i class="fa-solid fa-chalkboard-user"></i> Faculty</button>
    </a>

    <a href="/admin/notes">
        <button><i class="fa-solid fa-book"></i> Notes</button>
    </a>

    <a href="/admin/announcements">
        <button><i class="fa-solid fa-bullhorn"></i> Announcements</button>
    </a>

    <a href="/admin/logout">
        <button><i class="fa-solid fa-right-from-bracket"></i> Logout</button>
    </a>

</div>

{% endblock %}