<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CampusHub{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <nav class="navbar">

        <h2 class="logo">CampusHub</h2>
    
        <ul class="nav-links">
            <li><a href="{{ url_for('main.home') }}">Home</a></li>
            <li><a href="{{ url_for('student.student_home') }}">Student</a></li>
            <li><a href="{{ url_for('faculty.faculty_home') }}">Faculty</a></li>
            <li><a href="{{ url_for('admin.admin_home') }}">Admin</a></li>
        </ul>
    
    </nav>

    <main>

        {% block content %}

        {% endblock %}

    </main>

</body>
</html>