{% extends "base.html" %}

{% block title %}Student Dashboard{% endblock %}

{% block content %}

<div class="container">

    <h1><h1>Welcome {{ student_name }}</h1></h1>
    <h2>Student Dashboard</h2>

    <hr>

    <a href="/student/upload"><button>Upload Notes</button></a>

    <a href="/student/notes"><button>View Notes</button></a>

    <a href="/student/announcements">
        <button>Announcements</button>
    </a>

    <a href="/student/profile">
        <button>Profile</button>
    </a>

    <a href="/"><button>Logout</button></a>

</div>

{% endblock %}