{% extends "base.html" %}

{% block title %}Student Dashboard{% endblock %}

{% block content %}

<div class="container">

    <h1>Welcome {{ student_name }} 👋</h1>
    <h2>Student Dashboard</h2>

    <hr>

    <div class="dashboard-cards">

        <div class="card">
            <i class="fa-solid fa-book"></i>
            <h3>Total Notes</h3>
            <h1>{{ notes_count }}</h1>
        </div>

        <div class="card">
            <i class="fa-solid fa-bullhorn"></i>
            <h3>Announcements</h3>
            <h1>{{ announcements_count }}</h1>
        </div>

    </div>

    <hr>

    <h3>
        <i class="fa-solid fa-bolt"></i>
        Quick Actions
    </h3>

    <a href="/student/upload">
        <button>
            <i class="fa-solid fa-upload"></i>
            Upload Notes
        </button>
    </a>

    <a href="/student/notes">
        <button>
            <i class="fa-solid fa-book"></i>
            View Notes
        </button>
    </a>

    <a href="/student/announcements">
        <button>
            <i class="fa-solid fa-bullhorn"></i>
            Announcements
        </button>
    </a>

    <a href="/student/profile">
        <button>
            <i class="fa-solid fa-user"></i>
            My Profile
        </button>
    </a>

    <a href="/logout">
        <button>
            <i class="fa-solid fa-right-from-bracket"></i>
            Logout
        </button>
    </a>

</div>

{% endblock %}