{% extends "base.html" %}

{% block title %}Faculty Dashboard{% endblock %}

{% block content %}

<div class="container">

    <h1>Welcome {{ faculty_name }} 👋</h1>
    <h2>Faculty Dashboard</h2>

    <hr>

    <div class="dashboard-cards">

        <div class="card">
            <h3>Total Notes</h3>
            <h1>{{ notes_count }}</h1>
        </div>

        <div class="card">
            <h3>Announcements</h3>
            <h1>{{ announcement_count }}</h1>
        </div>

    </div>

    <hr>

    <h3>Quick Actions</h3>

    <h3><i class="fa-solid fa-bolt"></i> Quick Actions</h3>

    <a href="/faculty/upload">
        <button><i class="fa-solid fa-upload"></i> Upload Notes</button>
    </a>

    <a href="/faculty/notes">
        <button><i class="fa-solid fa-book"></i> Manage Notes</button>
    </a>

    <a href="/faculty/announcements">
        <button><i class="fa-solid fa-bullhorn"></i>    Announcements</button>
    </a>

    <a href="/faculty/logout">
        <button><i class="fa-solid fa-right-from-bracket"></i> Logout</button>
    </a>

</div>

{% endblock %}