{% extends "base.html" %}

{% block title %}CampusHub{% endblock %}

{% block content %}

<section class="hero">

    <div class="hero-content">

        <h1>
            🎓 CampusHub
        </h1>

        <h2>
            Your Complete Digital Campus
        </h2>

        <p>

            A centralized platform where students,
            faculty and administrators can manage
            notes, announcements and academic
            activities efficiently.

        </p>

        <div class="hero-buttons">

            <a href="/student">
                <button>
                    <i class="fa-solid fa-user-graduate"></i>
                    Student
                </button>
            </a>

            <a href="/faculty">
                <button>
                    <i class="fa-solid fa-chalkboard-user"></i>
                    Faculty
                </button>
            </a>

            <a href="/admin">
                <button>
                    <i class="fa-solid fa-user-shield"></i>
                    Admin
                </button>
            </a>

        </div>

    </div>

</section>

<section class="features container">

    <h1 class="text-center">
        Why CampusHub?
    </h1>

    <div class="dashboard-cards">

        <div class="card">

            <i class="fa-solid fa-book fa-3x"></i>

            <h3>Notes Management</h3>

            <p>
                Upload, download and organize study material easily.
            </p>

        </div>

        <div class="card">

            <i class="fa-solid fa-bullhorn fa-3x"></i>

            <h3>Announcements</h3>

            <p>
                Stay updated with important notices from faculty.
            </p>

        </div>

        <div class="card">

            <i class="fa-solid fa-users fa-3x"></i>

            <h3>Role Based Access</h3>

            <p>
                Separate portals for Students, Faculty and Admin.
            </p>

        </div>

    </div>

</section>

{% endblock %}