{% extends "base.html" %}

{% block title %}
{{ role }} Login
{% endblock %}

{% block content %}

<section class="login-container">

    <h1>{{ role }} Login</h1>

    <form action="/login/{{ role.lower() }}" method="POST">

        <input type="email"
            name="email"
            placeholder="Email"
            required>

        <input type="password"
            name="password"
            placeholder="Password"
            required>

        <button type="submit">
            Login
        </button>

    </form>

    <br>

    <a href="/register">
        New Student? Register Here
    </a>

</section>

{% endblock %}