{% extends "base.html" %}

{% block title %}Student Profile{% endblock %}

{% block content %}

<h1>Student Profile</h1>

<table border="1" cellpadding="10">

    <tr>
        <th>Full Name</th>
        <td>{{ student[1] }}</td>
    </tr>

    <tr>
        <th>Email</th>
        <td>{{ student[2] }}</td>
    </tr>

    <tr>
        <th>Branch</th>
        <td>{{ student[4] }}</td>
    </tr>

    <tr>
        <th>Year</th>
        <td>{{ student[5] }}</td>
    </tr>

</table>

<br>

<a href="/student/dashboard">
    <button>Back to Dashboard</button>
</a>

{% endblock %}